$color1: #CCCCCC;
$color2: #E0E0E0;
$color3: #F5F5F5;

.color1-bg { background-color: $color1; }
.color2-bg { background-color: $color2; }
.color3-bg { background-color: $color3; }

.width-82 { min-width: 82px; width: 82px; max-width: 82px; }
.width-150 { min-width: 150px; width: 150px; max-width: 150px; }
.width-150 { min-width: 150px; width: 150px; max-width: 150px; }
.width-327 { width: 327px; }

input:focus {
    border-radius: 16px;
    background-color: #CFE6F1;
}